<!-- DESCRIPTION -->
<label class="section-label">DESCRIPTION</label>
<div class="service-description">
  @if (!editDescription()) {
    @if (service()?.description) {
      <div class="description-rendered" [innerHTML]="service()!.description | markdown"></div>
    } @else {
      <span class="empty-desc">this service has no description</span>
    }
  } @else {
    <vs-code-editor
    class="dbo-editor"
    [value]="service()?.dbo ?? ''"
    (valueChange)="onUpdateDbo($event)"
  />

  @if (dboWarning(); as warn) {
    <div class="dbo-warning">
      <mat-icon color="warn" [matTooltip]="warn">warning</mat-icon>
      <span class="dbo-warning-text">{{ warn }}</span>
    </div>
  }
</div>
